@model praca_dyplomowa_zesp.Models.Users.User

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Użytkownik</h4>
    <hr />

    <div class="mb-4">
        <img src="@Url.Action("GetBanner", "Profile", new { id = Model.Id })"
             alt="Baner użytkownika"
             class="img-fluid rounded"
             style="max-height: 200px; width: 100%; object-fit: cover;" />
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isBanned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isBanned)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BanReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BanReason)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>